# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# kernel intermedate files
*.o.cmd
*.ko
modules.order
Module.symvers
.tmp_versions
